* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    gap: 1rem;
    max-height: 100%;
}

svg {
    background-color: black;
    max-height: 97vh;
}

.train {
    fill: #fff;
}

.train:hover {
    fill: #4cf;
}

.border {
    fill: #888;
}

#tiles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    background-color: rgb(190, 210, 216);
    height: 100svh;
    width: 100svh;
}

img {
    height: calc(100svh / 4);
}

#pointers {
    position: absolute;
}

.pointer {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
}
